.error-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f9fafb;
  text-align: center;
}

.error-container h1 {
  font-size: 60px;
  color: #ef4444;
  margin-bottom: 10px;
}

.error-container h2 {
  margin-bottom: 10px;
}

.error-message {
  color: #555;
  margin-bottom: 20px;
}

.back-home {
  text-decoration: none;
  background: #2563eb;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
}

.back-home:hover {
  background: #1e40af;
}